In [ ]:
L1 = [10, 20 ,30] # address
L2 = L1           # Copy address from L1 to L2
print('L1:', L1)
print('L2:', L2)

L2[0] += 5
print('L1:', L1)
print('L2:', L2)

L1: [10, 20, 30]
L2: [10, 20, 30]
L1: [15, 20, 30]
L2: [15, 20, 30]

In [ ]:
L1 = [10, 20 ,30] # address
L2 = list(L1)     # Copy L1 to L2
print('L1:', L1)
print('L2:', L2)

L2[0] += 5
print('L1:', L1)
print('L2:', L2)

L1: [10, 20, 30]
L2: [10, 20, 30]
L1: [10, 20, 30]
L2: [15, 20, 30]

In [ ]:
L1 = [[1, 2], [3, 4]] # 2x2 array
'''
  R0 = [1, 2]
  R1 = [3, 4]
  L1 = [R0's address, R1's address]

'''

L2 = list(L1)
'''
  L2 = [R0's address, R1's address]
'''
print('L1:', L1)
print('L2:', L2)

L2[0][0] += 5
print('L1:', L1)
print('L2:', L2)

L1: [[1, 2], [3, 4]]
L2: [[1, 2], [3, 4]]
L1: [[6, 2], [3, 4]]
L2: [[6, 2], [3, 4]]

In [ ]:
import copy

L1 = [[1, 2], [3, 4]] # 2x2 array
L2 = copy.deepcopy(L1)

print('L1:', L1)
print('L2:', L2)

L2[0][0] += 5
print('L1:', L1)
print('L2:', L2)

L1: [[1, 2], [3, 4]]
L2: [[1, 2], [3, 4]]
L1: [[1, 2], [3, 4]]
L2: [[6, 2], [3, 4]]

In [ ]:
import numpy as np

L1 = np.array([[1, 2], [3, 4]]) # 2x2 array
L2 = np.array(L1)

L2[0][0] += 5
print('L1:', L1)
print('L2:', L2)

L1: [[1 2]
 [3 4]]
L2: [[6 2]
 [3 4]]

In [ ]:
L = [123, 4, 567, 9801, 1234, 0, 2341]
Ls = [str(x) for x in L]
print(Ls)
Ls.sort(key = len, reverse = True)
print(Ls)
L = [int(x) for x in Ls]
print(L)

['123', '4', '567', '9801', '1234', '0', '2341']
['9801', '1234', '2341', '123', '567', '4', '0']
[9801, 1234, 2341, 123, 567, 4, 0]

In [ ]:
def f(x):
  return len(str(x))
L = [123, 4, 567, 9801, 1234, 0, 2341]
L.sort(key = f, reverse = True)
print(L)

[9801, 1234, 2341, 123, 567, 4, 0]

In [ ]:
L = [123, 4, 567, 9801, 1234, 0, 2341]
L.sort(key = lambda x: len(str(x)), reverse = True)
print(L)

[9801, 1234, 2341, 123, 567, 4, 0]

In [ ]:
t = 12345, 54321, 'hello!'	# without any parenthesis
print(type(t))
print(t[0])	# 12345
print(t)	# (12345, 54321, 'hello!')

t2 = (10, 20, 30)
print(t2)
#t2[0] = 100
t2 += (40, 50)
print(t2)
#t2.append(60)

t2 += (60,)
print(t2)

t3 = ((1, 2), (3, 4))
print(t3)

<class 'tuple'>
12345
(12345, 54321, 'hello!')
(10, 20, 30)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 60)
((1, 2), (3, 4))

In [ ]:
import matplotlib.pyplot as plt
X = [0, 1, 2, 3]
Y = [10, 5, 8, 9]
plt.plot(X, Y, color = (1.0, 0.0, 0.8))
plt.scatter(X, Y, color = (.0, 1.0, 0.0))
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-34-de6071128149>, line 4)

In [ ]:
T = (0, 10), (1, 5), (2, 8), (3, 9)
X = []
Y = []
for t in T:
  X.append(t[0])
  Y.append(t[1])
  print(t)
print('X', X)
print('Y', Y)

(0, 10)
(1, 5)
(2, 8)
(3, 9)
X [0, 1, 2, 3]
Y [10, 5, 8, 9]

In [ ]:
T = (0, 10), (1, 5), (2, 8), (3, 9)
X = []
Y = []
for t in T:
  x, y = t
  X.append(x)
  Y.append(y)
  print(t)
print('X', X)
print('Y', Y)

(0, 10)
(1, 5)
(2, 8)
(3, 9)
X [0, 1, 2, 3]
Y [10, 5, 8, 9]

In [ ]:
T = (0, 10), (1, 5), (2, 8), (3, 9)
X = []
Y = []
for x, y in T: # unzip
  X.append(x)
  Y.append(y)
  print(t)
print('X', X)
print('Y', Y)

(3, 9)
(3, 9)
(3, 9)
(3, 9)
X [0, 1, 2, 3]
Y [10, 5, 8, 9]

In [ ]:
import numpy as np
T = (0, 10), (1, 5), (2, 8), (3, 9)
A = np.array(T)
print(A)
X = A[:, 0]
Y = A[:, 1]
print('X', X)
print('Y', Y)

[[ 0 10]
 [ 1  5]
 [ 2  8]
 [ 3  9]]
X [0 1 2 3]
Y [10  5  8  9]

In [ ]:
L = ['ABC', 'DEF', 'GHI']
E = enumerate(L)
for x in E:
    print(type(x), x)

<class 'tuple'> (0, 'ABC')
<class 'tuple'> (1, 'DEF')
<class 'tuple'> (2, 'GHI')

In [ ]:
L = ['ABC', 'DEF', 'GHI']
for x in enumerate(L):
    print(type(x), x)

<class 'tuple'> (0, 'ABC')
<class 'tuple'> (1, 'DEF')
<class 'tuple'> (2, 'GHI')

In [ ]:
L = ['ABC', 'DEF', 'GHI']
for i, x in enumerate(L):
    print(type(x), i, x)

<class 'str'> 0 ABC
<class 'str'> 1 DEF
<class 'str'> 2 GHI

In [ ]:
names  = ['James', 'Mary', 'Jenny']
ages = [18, 17, 20]
ID = ['A001', 'A002', 'A003']
for i, name in enumerate(names):
    print(i, name, ages[i], ID[i])

0 James 18 A001
1 Mary 17 A002
2 Jenny 20 A003

In [2]:
names  = ['James', 'Mary',  'Jenny']
ages =   [18,       17,      20]
ID =     ['A001',   'A002', 'A003', 'A004']
for t in zip(ID, names, ages):
    print(type(t))
    idx, name, age  = t
    print(name, age, idx)

<class 'tuple'>
James 18 A001
<class 'tuple'>
Mary 17 A002
<class 'tuple'>
Jenny 20 A003

In [9]:
names  = ['James', 'Mary',  'Jenny']
ages =   [18,       17,      20]
ID =     ['A001',   'A002', 'A003', 'A004']
for t in enumerate(zip(ID, names, ages)):
    #print(type(t))
    print(t)
    #idx, name, age  = t
    #print(name, age, idx)
print()
for i, t in enumerate(zip(ID, names, ages)):
    print(i, t)

for i, (sid, name, age) in enumerate(zip(ID, names, ages)):
    print(i, sid, name, age)

(0, ('A001', 'James', 18))
(1, ('A002', 'Mary', 17))
(2, ('A003', 'Jenny', 20))

0 ('A001', 'James', 18)
1 ('A002', 'Mary', 17)
2 ('A003', 'Jenny', 20)
0 A001 James 18
1 A002 Mary 17
2 A003 Jenny 20