In [ ]:
x = 10
x //= x - 1 # x = x // (x - 1)
print(x)	# 1

y //= 2 # y = y // 2

1

NameError: name 'y' is not defined

In [ ]:
x = 1
#x += x += 1	# Invalid syntax
#x *= (x /= 1)	# Invalid syntax

z = y = x = 10
print(x, y, z)

10 10 10

In [ ]:
s = 'abc'
s += 'def'
print(s)
s *= 3
print(s)

abcdef
abcdefabcdefabcdef

In [ ]:
x = 123
y = 456
z = x + y
print(z)		# 579
z = str(x) + ' + ' +  str(y) + ' = ' + str(z)
print(z)		# 123456
# 123 + 456 = 579

579
123 + 456 = 579

In [ ]:
L = [10, 20, 30, 4, 5, 6]
print(L[0])            # 10's index is 0; zero-based indexing
print(L[3])            # 4
L[2] += L[4] + L[5]
print(L[2])            # 41
print(L)		 #[10, 20, 41, 4, 5, 6]
print(type(L))
print(type(L[0]))
n = len(L)
print('#L', n)

A = []
print(A)
print(type(A))
n = len(A)
print('#A', n)
#print(A[0])

10
4
41
[10, 20, 41, 4, 5, 6]
<class 'list'>
<class 'int'>
#L 6
[]
<class 'list'>
#A 0

In [ ]:
L = [10, 20, 30, 4, 5, 6]
print(L[5])
#print(L[6])
print(L[-1])
print(L[-2])
print(L[-3])
print(L[-6])
print(L[1.0])

6
6
5
4
10

TypeError: list indices must be integers or slices, not float

In [ ]:
L = [10, 20, 30, 4, 5, 6]
n = len(L)
print(n)
m = int(n / 2)
print(m, type(m))
print(L[m])

6
3 <class 'int'>
4

In [ ]:
L = [10, 20, 30, 'ABC', '123', '456']
n = len(L)
print('n', n)
temp = L[0]
print('temp:', temp)
L[0] = L[-1]
L[-1] = temp
print(L)

n 6
temp: 10
['456', 20, 30, 'ABC', '123', 10]

In [ ]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
L = [10, 20, 30, 'ABC', '123', '456']
L[0], L[-1] = L[-1], L[0]
print(L)

['456', 20, 30, 'ABC', '123', 10]

In [ ]:
L = [10, 20, 30, 'ABC', '123', '456']
L1 = L[0:3:1] #half-open range
print(L1)

L2 = L[1:5:1]
print(L2)

L3 = L[1:5:2]
print(L3)

L4 = L[:3:1]
print(L4)
L5 = L[:3]
print(L5)
L6 = L[:]
print(L6)
L7 = L[2:]
print(L7)

L8 = L[-2:]
print(L8)

L9 = L[-3:-1]
print('L9', L9)

L10 = L[-1:-6]
print('L10', L10)

L11 = L[-1:-6:-1]
print('L11', L11)

L12 = L[::-1]
print('L12', L12)

[10, 20, 30]
[20, 30, 'ABC', '123']
[20, 'ABC']
[10, 20, 30]
[10, 20, 30]
[10, 20, 30, 'ABC', '123', '456']
[30, 'ABC', '123', '456']
['123', '456']
L9 ['ABC', '123']
L10 []
L11 ['456', '123', 'ABC', 30, 20]
L12 ['456', '123', 'ABC', 30, 20, 10]

In [ ]:
L = [10, 20, 30, 'ABC', '123', '456']

print(L[0], type(L[0]))
print(L[0:1], type(L[0:1]))

10 <class 'int'>
[10] <class 'list'>

In [ ]:
L1 = [1, 2, 3]
L2 = ['abc', 'efg', 'zfdsa']
L3 = L1 + L2
print(L3)

#L3 += 10
L3 += [10]
print(L3)

[1, 2, 3, 'abc', 'efg', 'zfdsa']
[1, 2, 3, 'abc', 'efg', 'zfdsa', 10]