In [3]:
x = 10
#y = (x if x < 100 else x * 10)
y = x if x < 100 else x * 10
print(y)

10

In [6]:
x = 10
y = 5
y += ((x * 2) if (x < 100) else (x * 10))
print(y)

25

In [8]:
x = 15
y = 'Even' if x % 2 == 0 else 'Odd'
print(y)

Odd

In [10]:
x = 10
print('Even' if x % 2 == 0 else 'Odd')

Even

In [26]:
t = input()
#if t == t[::-1]:
#  print('%s is a palindrome.'%t)
#else:
#  print('%s is not a palindrome.'%t)
#print('%s is a palindrome.'%t) if t == t[::-1] else print('%s is not a palindrome.'%t)
print('%s is%s a palindrome.'%(t, '' if t == t[::-1] else ' not'))

abcd
abcd is not a palindrome.

In [27]:
y = print('hello')
print(y)

hello
None

In [1]:
t = input()
'''
%s: string
%d: integer -> string
%f: float -> string
'''
print('abc %s %s xyz'%(t, t[::-1]) )

DOG
abc DOG GOD xyz

In [4]:
t = input()

'''
%s: string
%d: integer -> string
%f: float -> string
'''
print(type(t))
print('abc %d %d xyz'%(t, t * 10) )

12
<class 'str'>

TypeError: %d format: a real number is required, not str

In [5]:
t = float(input())
s = 'abc %f %f xyz'%(t, t * 0.1)
print(s, type(s))

1.5
abc 1.500000 0.150000 xyz <class 'str'>

In [6]:
t = float(input())
s = 'abc %.3f %.5f xyz'%(t, t * 0.1)
print(s, type(s))

0.12345
abc 0.123 0.01235 xyz <class 'str'>

In [13]:
x = 0.1235
# 0.1000100010100101010101010101010101101  0101111100001011....
# 0.1234999999999999999999
s = '%0.3f'%x
print(s)

0.123

In [29]:
L = ['dog', 'cat', 'bird']
s = ''
for pet in L:
    print(pet)
    s += pet
print(s)

dog
cat
bird
dogcatbird

In [30]:
s = 'abcdefg'
for x in s:
    print(x)

a
b
c
d
e
f
g

In [33]:
L = [8, 9, 2, 5, 6, 4, 7]
L = sorted(L)
L1 = []
L2 = []
for x in L:
  print(x)
  if x % 2 == 0:
    L2 += [x]
  else:
    L1 += [x]
print(L1)
print(L2)

2
4
5
6
7
8
9
[5, 7, 9]
[2, 4, 6, 8]

In [35]:
L = [100, 97, 13, 100, 56, 97, 17, 32, 97, 56]
P = []
NP = []
for n in L:
    k = 2
    if n in P or n in NP:
        continue

    while k < n:
        if n % k == 0:
            break
        k += 1
    if k == n:
        P += [n]
    else:
        NP += [n]
print('Prime numbers:', P)
print('Non-prime numbers:', NP)

Prime numbers: [97, 13, 17]
Non-prime numbers: [100, 56, 32]