In [8]:
from collections import Counter

s = "  XYZ abc XYZ abc  xyz  abc  ABC  xyz"
A = s.split()
print(A)
C = Counter(A)
print(C)
for k in C:
  print(k)

for v in C.values():
  print(v)

for t in C.items():
  print(t)
from operator import itemgetter
L = sorted(C.items(), key=itemgetter(1), reverse = True)
print(L)

['XYZ', 'abc', 'XYZ', 'abc', 'xyz', 'abc', 'ABC', 'xyz']
Counter({'abc': 3, 'XYZ': 2, 'xyz': 2, 'ABC': 1})
XYZ
abc
xyz
ABC
2
3
2
1
('XYZ', 2)
('abc', 3)
('xyz', 2)
('ABC', 1)
[('abc', 3), ('XYZ', 2), ('xyz', 2), ('ABC', 1)]

In [9]:
def avg(L):			# function definition
    return sum(L) / len(L)
    print(L)
				# L is the parameter of avg

L1 = [4, 5, 2, 1, 9]
L2 = [0.4, 0.5, 0.2, 0.1, 0.9]
print(avg(L1))			# function calling
print(avg(L2))			# function calling

# L1 and L2 are arguments for function calling of avg

4.2
0.42000000000000004

In [12]:
def minmax(L):			# function definition
    return min(L), max(L)
L1 = [4, 5, 2, 1, 9]
L2 = [0.4, 0.5, 0.2, 0.1, 0.9]
t1 = minmax(L1)
t2 = minmax(L2)
print(t1, type(t1))
print(t2, type(t2))

min1, max1 = minmax(L1)
print(min1, max1)

(1, 9) <class 'tuple'>
(0.1, 0.9) <class 'tuple'>
1 9

In [15]:
def swap(x, y):
  return y, x

a = 10
b = 20
a, b = swap(a, b)
print(a, b)

20 10

In [19]:
def score_level(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  return "D"

print(score_level(95))
print(score_level(87))
print(score_level(72))
print(score_level(60))

A
B
C
D

In [21]:
def print_list(L, sep):
  for i, x in enumerate(L):
    print(i, x, sep = sep)  # side effect
L1 = [4, 5, 2, 1, 9]
L2 = [0.4, 0.5, 0.2, 0.1, 0.9]
r1 = print_list(L1, ",")
r2 = print_list(L2, ":")
print(r1)
print(r2)

0,4
1,5
2,2
3,1
4,9
0:0.4
1:0.5
2:0.2
3:0.1
4:0.9
None
None

In [22]:
def hello():
  return 'hello'

print(hello())

hello

In [26]:
def print_list(L, sep = ' '): # sep has a default argument
  for i, x in enumerate(L):
    print(i, x, sep = sep)  # side effect
L1 = [4, 5, 2, 1, 9]
L2 = [0.4, 0.5, 0.2, 0.1, 0.9]
print_list(L1, ",")
print_list(L2, ":")

print_list(L1)

0,4
1,5
2,2
3,1
4,9
0:0.4
1:0.5
2:0.2
3:0.1
4:0.9
0 4
1 5
2 2
3 1
4 9

In [44]:
def sumList(L1, L2, start = 0, stop = None):
  return [x + y for x, y in zip(L1[start:stop], L2[start:stop])]

L1 = [4, 5, 2, 1, 9]
L2 = [0.4, 0.5, 0.2, 0.1, 0.9]
#L2 = [0.4, 0.5]
#L3 = sumList(L1, L2, 2)
#L3 = sumList(L1, L2, , 4)
#L3 = sumList(L1 = L1, L2 = L2, stop = 4)
L3 = sumList(stop = 4, L2 = L2, L1 = L1 )
print(L3)		# [4.4, 5.5, 2.2, 1.1, 9.9]

[4.4, 5.5, 2.2, 1.1]

In [46]:
def f(x): # x is a f's parameter, x is also a local variable in f.
  x += 1
  return x

x = 10
y = f(x)
print(x)
print(y)

10
11