In [14]:
A = {7, 9, 1, 1, 9, 2, 1, 2}
print(type(A))
print(A)	# {9, 2, 1, 7}
		# The order is undefined
		# because set is unordered; hashing
#A[0] = 10
#print(A[0])	# Error!
#A + {1, 2}
#print(A)
A.add(1)
print(A)
A.add((1, 2))
print(A)

for x in A:
  print(x)

for i, x in enumerate(A):
  print(i, x)

<class 'set'>
{9, 2, 1, 7}
{9, 2, 1, 7}
{1, 2, (1, 2), 7, 9}
1
2
(1, 2)
7
9
0 1
1 2
2 (1, 2)
3 7
4 9

In [2]:
A = {3, 2, 1, 5}
print(A)

{1, 2, 3, 5}

In [15]:
S = {}
print(type(S))

<class 'dict'>

In [16]:
S = set()
print(type(S), len(S))
while True:
    x = int(input('Input a positive number: '))
    if x < 0:
        break
    else:
        S.add(x)
print('The size of S is ', len(S))
print(S)
L = list(S);
print(L)

<class 'set'> 0
Input a positive number: 8
Input a positive number: 9
Input a positive number: 8
Input a positive number: 9
Input a positive number: 1
Input a positive number: 1
Input a positive number: 9999
Input a positive number: 8888
Input a positive number: 1
Input a positive number: -1
The size of S is  5
{1, 8, 9, 9999, 8888}
[1, 8, 9, 9999, 8888]

In [21]:
print(L[-1])
L.sort()
print(L)

print(S)
S1 = sorted(S)
print(S1, type(S1))

9999
[1, 8, 9, 8888, 9999]
{1, 8, 9, 9999, 8888}
[1, 8, 9, 8888, 9999] <class 'list'>

In [26]:
L = [4, 6, 1, 2, 2, 1, 3 ]
#L = [7, 8, 8, 6, 5, 2, 2, 3, 3]
Ls = sorted(L)
print(Ls)
m = len(L) // 2
print(Ls[m])
S = set(L)
print(S)
Ss = sorted(S)

ms = len(Ss) // 2
print(Ss)
print(Ss[ms])

[1, 1, 2, 2, 3, 4, 6]
2
{1, 2, 3, 4, 6}
[1, 2, 3, 4, 6]
3

In [29]:
A = {4444, 3333, 1111, 2222}
B = {3333, 6666, 5555, 4444}
C = A.union(B)
print(A)	# {1, 2, 3, 4}
print(B)	# {3, 4, 5, 6}
print(C)	# {1, 2, 3, 4, 5, 6}

D = B.union(A)
print(D)	# {1, 2, 3, 4, 5, 6}

{4444, 3333, 2222, 1111}
{6666, 5555, 4444, 3333}
{3333, 6666, 2222, 5555, 1111, 4444}
{3333, 6666, 2222, 5555, 1111, 4444}

In [31]:
A = {4444, 3333, 1111, 2222}
B = {3333, 6666, 5555, 4444}
C = A.intersection(B)
print(C)

D = B.intersection(A)
print(D)

{4444, 3333}
{4444, 3333}

In [33]:
A = {4, 3, 1, 2}
B = {3, 6, 5, 4}
C = {5, 6}
print(A.isdisjoint(B))		# False
print(A.isdisjoint(C))		# True

print(B.isdisjoint(A))		# False
print(C.isdisjoint(A))		# True

False
True
False
True

In [34]:
A = {4, 3, 1, 2}
B = {3, 6, 5, 4}
C = {5, 6}
print(C.issubset(A))		# False
print(C.issubset(B))		# True
print(B.issubset(C))		# False

False
True
False

In [ ]:
A = {4, 3, 1, 2}
B = {3, 6, 5, 4}
C = {5, 6}
print(C.issuperset(A))		# False
print(C.issuperset(B))		# False
print(B.issuperset(C))		# True

In [ ]:
A = {4, 3, 1, 2}
B = {3, 6, 5, 4}
C = A.difference(B)
D = B.difference(A)

print(C)		# {1, 2}
print(D)		# {5, 6}
C = A.symmetric_difference(B)
D = B.symmetric_difference(A)
print(C)		# {1, 2, 5, 6}
print(D)		# {1, 2, 5, 6}

In [43]:
s = 'Hello! My firends!'
#print(s.index('My'))
#print(s.index('my')) # Error!
print(s.index('!'))
print(s.index('!', s.index('!') + 1))

5
17

In [54]:
s = 'Hello! My firends!fire!!!!firends!!firends.'
#print(s.index('My'))
#print(s.index('my')) # Error!
#print(s.index('!'))
k = 0
while k < len(s):
  sk = s[k:]
  if '!' in sk:
    k += sk.index('!')
    print(k)
    k += 1
  else:
    break
  # try, except

'''
k = s.index('!') + 1
sk = s[k:]
print(k, sk)
if '!' in sk:
  print(k + sk.index('!'))
'''

5
17
22
23
24
25
33
34

"\nk = s.index('!') + 1\nsk = s[k:]\nprint(k, sk)\nif '!' in sk:\n  print(k + sk.index('!'))\n"

In [57]:
s1 = 'How       do \t\t\t\t \n\n\n\
you          do\t\t\t\t who       are \n\n\n\
you'
# white space:
# space bar, tab, enter
A = s1.split()
print(type(A), len(A))
print(A)

<class 'list'> 7
['How', 'do', 'you', 'do', 'who', 'are', 'you']

In [59]:
s = 'aaa*bbb*ccc eee fff*ggg '
#L1 = s.split(sep = '*')
#L2 = s.split(sep = ' ')
L3 = s.split(sep = '*', maxsplit = 2)
#print(L1) # ['aaa', 'bbb', 'ccc eee fff', 'ggg ']
#print(L2) # ['aaa*bbb*ccc', 'eee', 'fff*ggg', '']
print(L3) # ['aaa', 'bbb', 'ccc eee fff*ggg ']

['aaa*bbb*ccc', 'eee', 'fff*ggg', '']

In [60]:
s = 'aaa*bbb**ccc***eee'
L = s.split(sep = '*')
print(L) # ['aaa', 'bbb', '', 'ccc', '', '', 'eee']

['aaa', 'bbb', '', 'ccc', '', '', 'eee']

In [61]:
s = 'aaa*bbb*ccc eee fff*ggg '
A = s.split(sep= '* ')
print(A)

['aaa*bbb*ccc eee fff*ggg ']

In [63]:
import re # regular expression
s = 'aaa*bbb*ccc eee fff*ggg '
A = re.split('\*| ', s) # |: or; *:multiplication
print(A)

['aaa', 'bbb', 'ccc', 'eee', 'fff', 'ggg', '']